html,
body {  margin: 10px;
  padding: 0  ;  
  background-color: black;
  color: white;
  font-weight: bold;
  align-items: center;
}

button{
  margin-left: 10px ;
}

label{
  margin-left: 10px ;
  margin-bottom: 10px;
}

input{
  margin-left: 10px;
  margin-bottom: 10px;

}


span{
  margin-left:10px;
  margin-bottom: 10px !important;
}

h4{
  margin:0;
}

@media screen and (max-width: 900px) {
  img{
    width: 100%;
  }
}


img{
  margin-bottom: 10px;
}